@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

// ***************************** colors *************************
$yellow: #ffd15b;
$light-grey: #d3d3d3;
$grey: #7a7a7a;
$white: #ffffff;
$black: #1b1b1b;

//***************************** fonts **************************
$ff-manrope: "Manrope", sans-serif;
$ff-anton: "Anton", sans-serif;

$fsp: 16px;
